<h1>Editing station</h1>

<% form_for(@station) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%=f.label :department_id,"Department:"%><br/>
    <%=f.select :department_id,options_from_collection_for_select(Department.all,:id,:name,f.object.department_id)%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @station %> |
<%= link_to 'Back', stations_path %>